In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [25]:
data = pd.read_csv("./flask-server/staticFiles/rovMatchData.csv").drop(columns=['result_Blue'])
data

,offTeamBlue,jungleTeamBlue,mageTeamBlue,carryTeamBlue,supTeamBlue,supTeamRed,carryTeamRed,mageTeamRed,jungleTeamRed,offTeamRed
0,Omen,Maloch,Liliana,Joker,Zip,Xeniel,Violet,Krixi,Yan,Yena
1,Florentio,Elandorr,Rouie,Capheny,Arum,Mortos,Tel'annas,Aya,Nakroth,Skud
2,Ryoma,Nakroth,Kahlii,Elsu,Toro,Helen,Slimz,Annette,Zuka,Riktor
3,Helen,Skud,Mganga,Violet,Mina,Zip,Celica,Tulen,Tachi,Omen
4,Ryoma,Zuka,Lorion,Capheny,Xeniel,Annette,Joker,Tulen,Nakroth,Riktor
5,Yena,Zill,Krixi,Lindis,Krizzix,Lumburr,Capheny,Liliana,Taara,Skud
6,Qi,Wonder Woman,Rouie,Violet,Chaugnar,Superman,Joker,Liliana,Tachi,Skud
7,Ryoma,Zuka,Mganga,Hayate,Thane,Toro,Elsu,Aya,Kriknak,Murad
8,Yena,Aoi,Yue,Lindis,Xeniel,Zip,Violet,Tulen,Yan,Riktor
9,Mina,Yan,Krixi,Celica,Helen,Omen,Wisp,Yue,Aoi,Lauriel
10,Yena,Taara,Krixi,Capheny,Helen,Rouie,Joker,Zata,Kriknak,Omen
11,Veres,Tachi,Tulen,Violet,Thane,Taara,Bright,Liliana,Zuka,Xeniel
12,Ryoma,Tulen,Rouie,Violet,Veres,Superman,Joker,Liliana,Wonder Woman,Florentino
13,Omen,Batman,Illumia,Violet,Thane,Murad,Valhein,Liliana,Zuka,Taara
14,Qi,Aoi,Yue,Valhein,Lumburr,Baldum,Violet,Liliana,Zuka,Veres

In [14]:
allHero = []
for i in data.values:
    allHero += list(i)
allHero = list(set(allHero))

In [15]:
le = LabelEncoder()
encode = le.fit_transform(allHero)
decode = le.inverse_transform(encode)
pd.DataFrame({'heroName' : allHero,
             'heroName_encode' : encode,
             'heroName_decode' : decode}).sort_values(by=['heroName_encode'])

        heroName  heroName_encode heroName_decode
31       Annette                0         Annette
4            Aoi                1             Aoi
59          Arum                2            Arum
33           Aya                3             Aya
24        Baldum                4          Baldum
6         Batman                5          Batman
48        Bright                6          Bright
16       Capheny                7         Capheny
13        Celica                8          Celica
45      Chaugnar                9        Chaugnar
51      Elandorr               10        Elandorr
50          Elsu               11            Elsu
46    Florentino               12      Florentino
56     Florentio               13       Florentio
52        Hayate               14          Hayate
20         Helen               15           Helen
40       Illumia               16         Illumia
42         Joker               17           Joker
43        Kahlii               18          Kahlii
35       Kriknak               19         Kriknak
9          Krixi               20           Krixi
34       Krizzix               21         Krizzix
2        Lauriel               22         Lauriel
11       Liliana               23         Liliana
39        Lindis               24          Lindis
22        Lorion               25          Lorion
55       Lumburr               26         Lumburr
53        Maloch               27          Maloch
27        Mganga               28          Mganga
38          Mina               29            Mina
18        Mortos               30          Mortos
0          Murad               31           Murad
19       Nakroth               32         Nakroth
25          Omen               33            Omen
29            Qi               34              Qi
49        Riktor               35          Riktor
14         Rouie               36           Rouie
30         Ryoma               37           Ryoma
44          Skud               38            Skud
8          Slimz               39           Slimz
10      Superman               40        Superman
28         Taara               41           Taara
21         Tachi               42           Tachi
3      Tel'annas               43       Tel'annas
57         Thane               44           Thane
37          Toro               45            Toro
32         Tulen               46           Tulen
26       Valhein               47         Valhein
17         Veres               48           Veres
12        Violet               49          Violet
41          Wisp               50            Wisp
7   Wonder Woman               51    Wonder Woman
1         Xeniel               52          Xeniel
15           Yan               53             Yan
23          Yena               54            Yena
36           Yue               55             Yue
5           Zata               56            Zata
58          Zill               57            Zill
47           Zip               58             Zip
54          Zuka               59            Zuka

In [16]:
data_encode = data.apply(le.transform)

In [17]:
X = data_encode[['carryTeamBlue', 'carryTeamRed', 'jungleTeamRed', 'supTeamRed']]
y = data_encode.supTeamBlue

In [18]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(X, y)

In [19]:
input = ['Violet', 'Lindis', 'Aoi', 'Baldum']
predict = le.inverse_transform(dtree.predict(le.transform(input).reshape(1,-1)))
print(predict[0])
# predic_probat = le.inverse_transform(dtree.predict(le.transform(input).reshape(1,-1)))

Lumburr

/opt/anaconda3/envs/mlp/lib/python3.8/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [9]:
a = 'AYA'
print(f'สวัสดี {a}')

สวัสดี AYA

In [20]:
heroImg.query("heroName == 'JOKER'"
)

Empty DataFrame
Columns: [heroName, imgURL]
Index: []

In [19]:
heroImg = pd.read_csv("/Users/tamsopanat/Desktop/rovHero/flask-server/staticFiles/heroImg.csv")
imgURL = heroImg.query(f"heroName == '{a}'")['imgURL'].values[0]
imgURL

'https://cdn-webth.garenanow.com/webth/cdn/gth/rov/non-events/official/d7eb3abf05ebf7c588efcd1c4426b6ea928761324.jpg'

In [21]:
heroImgp

     heroName                                             imgURL
0        AIRI  https://cdn-webth.garenanow.com/webth/cdn/gth/...
1    ALEISTER  https://cdn-webth.garenanow.com/webth/cdn/gth/...
2       ALICE  https://cdn-webth.garenanow.com/mgames/kgcente...
3      ALLAIN  https://cdn-webth.garenanow.com/webth/cdn/gth/...
4       AMILY  https://cdn-webth.garenanow.com/mgames/kgcente...
..        ...                                                ...
107      ZATA  https://cdn-webth.garenanow.com/webth/cdn/gth/...
108    ZEPHYS  https://cdn-webth.garenanow.com/webth/cdn/gth/...
109      ZILL  https://cdn-webth.garenanow.com/mgames/kgcente...
110       ZIP  https://cdn-webth.garenanow.com/webth/cdn/gth/...
111      ZUKA  https://cdn-webth.garenanow.com/mgames/kgcente...

[112 rows x 2 columns]